@page
@model DatabaseImplementatie.Pages.AddComic

@{
    ViewData["Title"] = "Add Comic";
}
<link rel="stylesheet" href="~/css/cardcss.css" asp-append-version="true"/>

<div>
<form method="post">

</form>

</div>
