@page
@model DatabaseImplementatie.Pages.AddComic

@{
    ViewData["Title"] = "Stripboek Toevoegen";
}
<link rel="stylesheet" href="~/css/cardcss.css" asp-append-version="true"/>

<h1>@Model.FormResultaat</h1>
<hr/>

<form method="post">
    <div class="row">
        <div class="form-group col-md">
            <label for="titel">Titel</label>
            <input type="text" class="form-control" name="titel" id="titel" placeholder="Titel"/>
        </div>
        <div class="form-group col-md">
            <label for="isbn">Isbn</label>
            <input type="number" class="form-control" name="isbn" id="isbn" placeholder="Isbn"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md">
            <label for="druk">druk</label>
            <input type="druk" class="form-control" name="druk" id="druk" placeholder="Druk"/>
        </div>
        <div class="form-group col-md">
            <label for="taal">taal</label>
            <input type="taal" class="form-control" name="taal" id="taal" placeholder="Taal"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md">
            <label for="jaar"></label>
            <input type="jaar" class="form-control" name="jaar" id="jaar" placeholder="Jaar"/>
        </div>
        <div class="form-group col-md">
            <label for="blz">blz</label>
            <input type="blz" class="form-control" name="blz" id="blz" placeholder="Blz"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md">
            <label for="barcode">barcode</label>
            <input type="barcode" class="form-control" name="barcode" id="barcode" placeholder="Barcode"/>
        </div>
        <div class="form-group col-md">
            <label class="form-check-label" for="expliciet">Expliciet</label>
            <input class="form-check-input" name="expliciet" type="checkbox" value="" id="expliciet"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md">
            <label for="afmetingen">afmetingen</label>
            <input type="afmetingen" class="form-control" name="afmetingen" id="afmetingen" placeholder="Afmetingen"/>
        </div>
        <div class="form-group col-md">
            <label for="reeks">reeks</label>
            <input type="reeks" class="form-control" name="reeks" id="reeks" placeholder="Reeks"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md">
            <label for="uitgever">uitgever</label>
            <input type="uitgever" class="form-control" name="uitgever" id="uitgever" placeholder="Uitgever"/>
        </div>
        <div class="form-group col-md-6" id="spacing-button">
            <button type="submit" class="btn-primary btn">Toevoegen</button>         
        </div>
    </div>
</form>
<hr/>

