@page
@model DatabaseImplementatie.Pages.Login

@{
    ViewData["Title"] = "Log in";
}

<form method="post" asp-page-handler="Login">
    <input type="text" id="UserName" placeholder="UserName" asp-for="@Model.UserName"/><br/>
    <input type="password" id="Password" placeholder="Password" asp-for="@Model.Password"/><br/>
    <button type="submit" id="login">Login</button>
</form>