@page
@model DatabaseImplementatie.Pages.Login

@{
    ViewData["Title"] = "Log in";
}

<form method="post" asp-page-handler="Login">
    <input type="email" id="Email" placeholder="E-mail" asp-for="@Model.Email"/><br/>
    <input type="password" id="Password" placeholder="Password" asp-for="@Model.Password"/><br/>
    <button type="submit" id="login">Login</button>
</form>