@page
@model DatabaseImplementatie.Pages.Login

@{
    ViewData["Title"] = "Log in";
}
    <link rel="stylesheet" href="~/css/cardcss.css" asp-append-version="true"/>
<div class="container border rounded" style="padding: 20px">
    <form method="post" asp-page-handler="Login">
        <div class="form-group row" id="spacing">
            <div class="col-2">
                <label>E-mail:</label>
            </div>
            <div class="col-4">
                <input type="email" id="Email" placeholder="E-mail" asp-for="@Model.Email"/>

            </div>
        </div>

        <div class="form-group row" id="spacing">
            <div class="col-2">
                <label>Password:</label>
            </div>
            <div class="col-4">
                <input type="password" id="Password" placeholder="Password" asp-for="@Model.Password"/>

            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="login">Login</button>
    </form>
</div>
