@page
@model DatabaseImplementatie.Pages.Register

@{
    ViewData["Title"] = "Registreren";
}
<link rel="stylesheet" href="~/css/cardcss.css" asp-append-version="true"/>

<script>
    var passConfirm = function() {
        if (document.getElementById("Password").value ==
            document.getElementById("confirmPassword").value) {
                document.getElementById("Message").style.color = "Green";
                document.getElementById("Message").innerHTML = "Passwords match!"
                document.getElementById("registreer").disabled = false
            } else {
                document.getElementById("Message").style.color = "Red";
                document.getElementById("Message").innerHTML = "Passwords do NOT match!"
                document.getElementById("registreer").disabled = true
                }
    }
</script>

<body>
<div>
    <div class="container border rounded" style="padding: 20px">
    <form id="register" asp-page-handler="Register">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row" id="spacing">
            <div class="col-2">
                <label>Gebruikersnaam:</label>
            </div>
            <div class="col-4">
                <input type="text" id="UserName" placeholder="UserName" required="required" asp-for="Nieuwegebruiker.gebruikersnaam"/>
            </div>
        </div>
        <div class="form-group row"  id="spacing">
            <div class="col-2">
                <label>E-mail:</label>
            </div>
            <div class="col-4">
                <input type="email" id="E-mail" placeholder="E-Mail" required="required" asp-for="Nieuwegebruiker.gebruikermail"/>
            </div>
        </div>
        <div class="form-group row"  id="spacing">
            <div class="col-2">
                <label>Password: </label>
            </div>
            <div class="col-4">
                <input type="password" 
                       onkeyup="passConfirm();" 
                       name="Password"
                       id="Password" 
                       minlength="6" 
                       placeholder="Password" 
                       required="required" 
                       asp-for="Password"/>
            </div>
        </div>
        <div class="form-group row text-muted">
            <a id="password_contain_text"> Passwords must contain at least 6 characters</a>
        </div>
        <div class="form-group row"  id="spacing">
            <div class="col-2">
                <label>Confirm Password:</label>
            </div>
            <div class="col-4">
                <input type="password"
                       onkeyup="passConfirm();"
                       name="confirmPassword"
                       id="confirmPassword" 
                       required="required" 
                       minlength="6" 
                       placeholder="Confirm Password"/>
            </div>
            <span id="Message"></span>
        </div>
        <div class="form-group row"  id="spacing">
            <div class="from-group row">
                <div class="button_space">
                    <div class="button_space col-2 ">
                        <button id="registreer" class="btn btn-primary" type="submit">Registreer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
</body>
