@page
@model DatabaseImplementatie.Pages.Toevoegen

@{
    ViewData["Title"] = "Toevoegen";
}

<form method="post">
    Geboortedatum:
    <input type="date" name="geboortedatum"/><br/>
    Auteursnaam:
    <input type="text" name="aut_naam"/><br/>
    wikipedia URL:
    <input type="text" name="wikipedia_aut"/><br/>
    Is Schriiver:
    <input type="number" name="is_tekenaar"/><br/>
    Is Tekenaar:
    <input type="number" name="is_schrijver"/><br/>
    <button type="submit" asp-page-handler="Submit">Toevoegen</button>
</form>